.instand {
    float: auto;
}

;
.bgcol {
    background-color: azure;
}

.navbg {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: #604765;" */
}

.ellipsis2 {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /*行數*/
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-all
}

iframe {
    max-width: 100%;
}

img {
    max-width: 100%;
}

.sign_in_color {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sign_in_opacity {
    opacity: .7;
}

.sign_in_nonopacity {
    opacity: 1;
}

.sign_in_background_color {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sign_in_mark {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.walkhidden {
    visibility: hidden;
}

.message {
    word-break: break-all;
    background-color: #604765;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.article_title {
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #e7eaef;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #e7eaef;
    background-image: linear-gradient(145deg, #e7eaef 0%, #ffe7d1 100%);
}

.container::before {
    content: '';
    position: fixed;
    width: 700px;
    height: 1500px;
    border-radius: 50000px;
    background-color: #f6c89f;
    transform: rotate(-45deg) translate(40%, -55%);
}

.phone {
    width: 400px;
    height: 100vh;
    border-radius: 50px;
    border: 7px solid white;
    transform: translateY(-40%);
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding: 10px;
}

.navigation {
    width: 100%;
    background-color: white;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.navigation__list {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navigation__item {
    perspective: 100px;
}

.navigation__link {
    font-size: 12px;
    text-decoration: none;
    color: #c3cad6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 20px 30px;
    overflow: hidden;
    position: relative;
    outline: none;
}

.navigation__link::before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 15px;
    background-color: #f6c89f;
    position: absolute;
    transform: translateY(60px) scale(0.4);
    transition: all 0.35s cubic-bezier(0, 0.51, 0, 0.99);
    opacity: 0;
}

.navigation__icon {
    transition: all 0.35s ease;
    will-change: opacity, transform, background-color;
}

.navigation__text {
    position: absolute;
    transform: translateY(60px) skewY(-20deg);
    transform-origin: left bottom;
    color: #4b8e8d;
    font-weight: 700;
    opacity: 0;
    transition: all 0.35s ease;
    will-change: opacity, transform, background-color;
}

.navigation__link.hover .navigation__icon {
    transform: translateY(-60px) rotateX(90deg) scale(0.4) skewY(-30deg);
    opacity: 0;
}

.navigation__link.hover .navigation__text {
    opacity: 1;
    transform: translateY(-3px) skewY(0deg);
}

.navigation__link.hover::before {
    transform: translateY(12px) scale(1);
    transition: all 0.35s cubic-bezier(0, 0.51, 0, 0.99) 0.2s;
    opacity: 1;
}

@keyframes dotAnime {
    0% {
        transform: translateY(60px) scale(0.4);
        opacity: 0;
    }
    75% {
        transform: translateY(-3px) scale(1);
        opacity: 1;
    }
    to {
        transform: translateY(12px);
        opacity: 1;
    }
}

@keyframes textAnime {
    from {
        transform-origin: right center;
        transform: skewY(0) translateY(0);
    }
    25% {
        transform: skewY(0) translateY(0);
    }
    60% {
        transform: skewY(-12deg) translateY(-22px);
    }
    to {
        transform: skewY(0) translateY(-3px);
    }
}


/* COLOR */

.red_purple {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pink_blue {
    background: #ff6e7f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bfe9ff, #ff6e7f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}